.LocationsCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LocationsCard-card {
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 3px 3px #000;
  /* opacity: 0.8; */
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
}

.LocationsCard img {
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 280px;
}

.LocationsCard-card:hover {
  background-color: aquamarine;
  box-shadow: 1px 1px #000;
}
