.App {
  text-align: center;
  background-size: cover;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F_uUlANJjeKcI%2FTOp4LMKUkSI%2FAAAAAAAADPM%2FCA273wRVDdw%2Fs1600%2FDSC02161.JPG&f=1&nofb=1");
}

.App::after {
  content: "";
  background: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F_uUlANJjeKcI%2FTOp4LMKUkSI%2FAAAAAAAADPM%2FCA273wRVDdw%2Fs1600%2FDSC02161.JPG&f=1&nofb=1");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}