.App {
  text-align: center;
  background-size: cover;
  background-image: url("https://fthmb.tqn.com/7NHvDvAnU4zFNRY3imEoz7yO14s=/2500x2500/filters:fill(auto,1)/usa--california--playa-del-rey--surfboards-on-sandy-beach-546212389-591d26ab5f9b58f4c0708865.jpg");
}